<ul>
	<li class="block">
		<input type="checkbox" name="item" id="item1" checked />   
		<label for="item1"><i aria-hidden="true" class="icon-users"></i> Activity Dashboard <span>124</span></label>
		<ul class="options">
			<li><a href="/AdventureHunter/User/Dashboard/"><i aria-hidden="true" class="icon-search"></i> Dashboard </a></li>
			<li><a href="#"><i aria-hidden="true" class="icon-point-right"></i> Calendar </a></li>
			<li><a href="/AdventureHunter/Activity/MyActivities/"><i aria-hidden="true" class="icon-fire"></i> My activities </a></li>
			<li><a href="/AdventureHunter/Activity/Upload/"><i aria-hidden="true" class="icon-fire"></i> Upload activity </a></li>
		</ul>
	</li>
	<li class="block">
		<input type="checkbox" name="item" id="item3" checked />   
		<label for="item3"><i aria-hidden="true" class="icon-images"></i> Activities <span>4</span></label>
		<ul class="options">
			<li><a href="#"><i aria-hidden="true" class="icon-deviantart"></i> Segments </a></li>
			<li><a href="#"><i aria-hidden="true" class="icon-dribbble"></i> My segments</a></li>
			<li><a href="#"><i aria-hidden="true" class="icon-flickr"></i> Sample Flickr Stream</a></li>
			<li><a href="#"><i aria-hidden="true" class="icon-picassa"></i> Sample Picasa Stream</a></li>
		</ul>
	</li>
	<li class="block">
		<input type="checkbox" name="item" id="item2" checked />   
		<label for="item2"><i aria-hidden="true" class="icon-film"></i> Videos <span>1</span></label>
		<ul class="options">
			<li><a href="#"><i aria-hidden="true" class="icon-movie"></i> My Videos <span>7</span></a></li>
			<li><a href="#"><i aria-hidden="true" class="icon-download"></i> Recent videos <span>3</span></a></li>
		</ul>
	</li>
	<li class="block">
		<input type="checkbox" name="item" id="item4" checked />   
		<label for="item4"><i aria-hidden="true" class="icon-microphone"></i> My Account <span>1</span></label>
		<ul class="options">
			<li><a href="/AdventureHunter/User/View/"><i aria-hidden="true" class="icon-music"></i> My profile</a></li>
			<li><a href="/AdventureHunter/User/Edit/"><i aria-hidden="true" class="icon-music"></i> Edit information</a></li>
			<li><a href="/AdventureHunter/User/Logout/"><i aria-hidden="true" class="icon-music"></i> Log out</a></li>
		</ul>
	</li>
	<li class="block">
		<input type="checkbox" name="item" id="item5" checked />   
		<label for="item5"><i aria-hidden="true" class="icon-android"></i> Administration <span>3</span></label>
		<ul class="options">
			<li><a href="/AdventureHunter/Administration/User/"><i aria-hidden="true" class="icon-eye"></i> User administration</a></li>
			<li><a href="/AdventureHunter/Administation/Activities/"><i aria-hidden="true" class="icon-cloud"></i> Activity administration</a></li>
			<li><a href="/AdventureHunter/Administration/System/"><i aria-hidden="true" class="icon-reddit"></i> System administration</a></li>
		</ul>
	</li>
</ul>