<br />
Activities
<hr width="100" align="left">
<ul class="sub-options">
	<li><a href="/AdventureHunter/User/Dashboard/">Dashboard </a></li>
	<li><a href="#">Calendar</a></li>
	<li><a href="/AdventureHunter/Activity/MyActivities/">My activities </a></li>
	<li><a href="/AdventureHunter/Activity/Upload/">Upload activity </a></li>
</ul>
<br />
Segments
<hr width="100" align="left">
<ul class="sub-options">
	<li><a href="#">Segments </a></li>
	<li><a href="#">My segments</a></li>
</ul>
<br />
User options
<hr width="100" align="left">
<ul class="sub-options">
	<li><a href="/AdventureHunter/User/MyProfile/">My profile</a></li>
	<li><a href="/AdventureHunter/User/Edit/">Edit your information</a></li>
	<li><a href="/AdventureHunter/User/Logout/">Log out</a></li>
</ul>
<br />
Administration 
<hr width="100" align="left">
<ul class="sub-options">
	<li><a href="/AdventureHunter/Administration/User/">User administration</a></li>
	<li><a href="/AdventureHunter/Administation/Activities/">Activity administration</a></li>
	<li><a href="/AdventureHunter/Administration/System/">System administration</a></li>
</ul>