body
{
	font-family: "Tahoma", "Sans-serif";
	margin: 0px;
	padding: 0px;
	background-position: center 100px;
	background-repeat: no-repeat;
	background-color: #000000;
}

form
{
	margin: 0px;
	padding: 0px;
}

p
{
	margin-top: 15px;
	margin-bottom: 5px;
}

#login
{
	width: 400px;
	height: 300px;

	margin: 230px auto;

	font-size: 10px;
	font-weight: bold;

	color: #FFFFFF;
}

#text
{
	margin-top: 10px;
	font-family: "Tahoma";
	color: #000000;
	font-size: 11px;
}

input.textfield
{
	height: 30px;
	width: 230px;

	padding-top: 7px;
	text-align: center;

	margin-bottom: 5px;
	margin-top: 5px;

	background-image: url('feedtv_loginform-filer/textfield.png');
	background-position: left;
	background-repeat: no-repeat;

	font-weight: bold;
	font-size: 13px;

	color: #000000;
	border: none;
}

a:link { text-decoration: none; color: #FFFFFF;}
a:visited { text-decoration: none; color: #FFFFFF; }
a:active { text-decoration: none; color: #FFFFFF; }
a:hover { text-decoration: none; color: #FFFFFF; }
